@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  touch-action: none; /* Prevent browser zooming/scrolling on mobile */
  user-select: none; /* Prevent text selection */
}
